@using SqliteDemo.Models.Entity;
@model User
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form action="~/Authentication/Register" method="post">
    <div class="input-group">
        Username: <input type="text" class="form-control" placeholder="Username"  name="Name" value="@Model.Name">
    </div> <p class="pp"> @TempData["Username"]</p>
    <div class="input-group">
        Email: <input type="text" class="form-control" placeholder="example@test.com"  name="EmailAddress" value="@Model.EmailAddress">
    </div> <p class="pp"> @TempData["Email"]</p>
    <div class="input-group">
        Password: <input class="form-control" placeholder="Username"  name="Password" value="@Model.Password" type="password">
    </div> <p class="pp">@TempData["Password"]</p>
    <button type="submit" value="Register" name="Register" class="btn btn-default">Login</button>

</form>
