@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SqliteDemo.Models.Entity;
@model User[]
<h4>User List</h4>
<ul>
    @foreach (User users in Model)
    {
        <li>@users.Id,  @users.Name,  @users.EmailAddress, @users.Salt, @users.HashPassword, @users.IsAdmin, @users.Status</li>
    }
</ul>