
<!DOCTYPE html >
<html lang="en-US">
<!--[if IE 7]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><html lang="en"><![endif]-->
<!--[if !IE]><html lang="en-US"><![endif]-->
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search-Up</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
            #white {
                color:ghostwhite;
  
            }
            .top-right {
                position: absolute;
                top: 70%;
                right: 10%;
            }
            body {
                background-image: url("https://static1.squarespace.com/static/55c37beae4b0336075603f86/55c3cd80e4b01531b3208f2e/5603032be4b008bd0ad4e6fb/1486126957019/?format=1500w");
                background-repeat: no-repeat;
                background-size: cover;
            }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Home/Index" class="navbar-brand">Search-Up Home Page</a>

            </div>
            
           
    @{

        if (Session["LoggedIn"] == null || (bool)Session["LoggedIn"] == false)
        {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Index", "Index", "Home")</li>
                    <li>@Html.ActionLink("Login", "Login", "Authentication")</li>
                    <li>@Html.ActionLink("Register", "Register", "Authentication")</li>
                    <li>@Html.ActionLink("Search", "SearchEvent", "Event")</li>
                </ul>

            </div> 
        }
       
        else if ((Convert.ToBoolean(Session["LoggedIn"]) == true) && (Convert.ToBoolean(Session["IsAdmin"]) == false))
                    {
        
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Index", "Index", "Home")</li>                     
                    <li><a href="~/Event/ListEvents">List All Events</a></li>
                    <li><a href="~/Event/AddEvent">Add an Event</a></li>
                    <li><a href="~/Event/UpdateEvent">Change an Event</a></li>
                    <li>@Html.ActionLink("Search", "SearchEvent", "Event")</li>
                    <li><a href="~/User/UserName" value="@Session["UserId"]">Edit Profile</a></li>
                    <li><a href="#" id="white">You logged as @Session["UserId"]  </a></li>
                    <li><a href="~/Authentication/logout">Logout</a></li>
                </ul>
            </div>

          
        }
        else if ((Convert.ToBoolean(Session["LoggedIn"]) == true) && (Convert.ToBoolean(Session["IsAdmin"]) == true))
        {
            <div class="navbar-collapse collapse">
                
                <ul class="nav navbar-nav">
                   
                    <li>@Html.ActionLink("Index", "Index", "Home")</li>
                    <li><a href="~/Event/ListEvents">List All Events</a></li>
                    <li><a href="~/Event/AddEvent">Add an Event</a></li>
                    <li><a href="~/Event/DeleteEvent">Delete an Event</a></li>
                    <li><a href="~/Event/UpdateEvent">Change an Event</a></li>
                    <li><a href="~/User/List">User List</a></li>
                    <li><a href="#" id="white">You logged as @Session["UserId"]  </a></li>
                    <li><a href="~/Authentication/logout">Logout</a></li>


                </ul>
            </div>

        }
}
        </div>
</div>


    <hr />
    <p style="background:lightblue; padding:.5ex">@ViewBag.message</p>
    
   
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>

           
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
     
</body>

</html>